body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-family: Sailec, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

h2 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: underline;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #00a790;
}

.nav-link.w--current {
  color: #00a790;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 50;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  max-width: 1200px;
  min-width: 960px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.landing-section {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.display-lg {
  margin-bottom: 32px;
  font-family: 'Value serif', sans-serif;
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
}

.home-hero-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.h3 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.h3.white {
  color: #fff;
}

.h3.white.content {
  color: #fff;
}

.h3.content {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.h3.no-bottom {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

.hero-text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  margin-left: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.button-text {
  margin-bottom: 0px;
  color: #000;
}

.bottom-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 240px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  padding-top: 120px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  max-width: 1200px;
  min-width: 960px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.container.xl {
  max-width: 1800px;
}

.container.sm {
  max-width: 960px;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  max-width: 880px;
  margin-top: 44px;
  margin-bottom: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.copyright-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.text-link {
  color: #000;
  text-decoration: none;
}

.text-link:hover {
  color: #00a790;
}

.footer-links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.about-img {
  width: 45%;
}

.about-landing-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 1200px;
  min-width: 960px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.background-section {
  margin-top: 240px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
}

.h1.light {
  font-weight: 400;
}

.h1.proj-section-title {
  margin-bottom: 64px;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}

.bullet {
  width: 8px;
  height: 8px;
  margin-right: 32px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 20px;
  background-color: #000;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex.center {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.flex.center.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex.center.left.bottom-space {
  margin-bottom: 12px;
}

.flex.vert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.proj-img-hero {
  height: 100vh;
  background-image: url('../images/mockup-small.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.proj-img-hero.openstax {
  background-image: url('../images/textbook-covers-pattern.png');
}

.proj-section-wrap {
  width: 650px;
  margin-top: 44px;
}

.proj-section-wrap.content {
  margin-top: 0px;
}

.proj-desc-wrap {
  margin-top: 8px;
}

.proj-head-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.proj-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 152px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-content-wrap {
  margin-top: 8px;
  margin-bottom: 32px;
}

.side-hr {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 2px;
  height: 200px;
  margin-left: -32px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #1db954;
}

.side-hr.openstax {
  background-color: #f37640;
}

.text-content {
  margin-bottom: 0px;
}

.text-content.white {
  color: #fff;
}

.text-content.inline {
  display: inline-block;
}

.text-content.inline.multiple {
  margin-right: 20px;
}

.text-content.overflow {
  margin-bottom: 12px;
  margin-left: 28px;
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.h4.spotify {
  color: #1db954;
}

.h4.openstax {
  color: #f37640;
}

.overview-subdetails {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.overview-subdetails.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.diagram-wrap {
  margin-top: 60px;
  margin-bottom: 60px;
}

.text-bullet {
  width: 32px;
  height: 2px;
  margin-right: 12px;
  background-color: #1db954;
}

.text-bullet.special.openstax {
  background-color: #f37640;
}

.text-bullet.small {
  width: 16px;
}

.text-bullet.small.openstax {
  background-color: #f37640;
}

.bullet-wrap {
  margin-top: 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote-overflow {
  max-width: 530px;
  margin-top: -16px;
  margin-left: 44px;
}

.sub-head-wrap {
  margin-top: 20px;
}

.spotify-arrow {
  margin-top: 24px;
  margin-bottom: 52px;
}

.section {
  width: 100%;
}

.showcase-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #66c78b;
}

.spotify-screen {
  height: 80vh;
  margin-right: 40px;
  margin-left: 40px;
}

.spotify-liking-diagram {
  height: 50vh;
  max-width: 300px;
  margin-right: 44px;
  margin-left: 44px;
}

.level-2-text {
  margin-left: 44px;
}

.sub-detail-item {
  margin-bottom: 32px;
}

.day-to-day-diagram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
  margin-left: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.openstax-screen {
  height: 75vh;
  margin-top: 28px;
  margin-bottom: 28px;
}

.openstax-img-label {
  margin-top: -18px;
  color: #c8c8c8;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.os-screen-wrap {
  margin-bottom: 52px;
}

.home-img {
  width: 45%;
}

.mockup-right {
  width: auto;
  height: 75vh;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.proj-card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 240px;
  margin-bottom: 240px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.proj-card-wrap.alt {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.proj-text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 640px;
  margin-right: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.proj-text-wrap.right {
  margin-right: 0px;
  margin-left: 120px;
}

.case-study-button {
  margin-top: 64px;
  padding: 16px 24px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #00a790;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.case-study-button.wip {
  border-style: solid;
  border-width: 2px;
  border-color: #00a790;
  background-color: transparent;
  color: #000;
  cursor: wait;
}

.text-small {
  font-size: 20px;
  line-height: 32px;
}

.text-small.grey {
  color: #757575;
}

.page-cover {
  height: 100vh;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.page-cover.spotify {
  background-image: url('../images/mockup-small.png');
  background-position: 0px 0px;
  background-size: cover;
}

.page-cover.bornbir {
  background-image: url('../images/bornbir-page-cover-min.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.x-marker {
  margin-right: 24px;
  margin-left: 24px;
}

.x-marker.sm {
  width: 24px;
  margin-right: 16px;
  margin-left: 8px;
}

.proj-tag-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.proj-tag {
  margin-right: 32px;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}

.grey {
  color: #666;
}

.text-lg {
  font-size: 32px;
  line-height: 64px;
  font-weight: 400;
}

.proj-intro-wrap {
  margin-top: 160px;
  margin-bottom: 160px;
}

.proj-section-container {
  width: 880px;
}

.content-section-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 160px;
  margin-bottom: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-section-wrap.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.proj-img {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.proj-img.native {
  width: auto;
}

.proj-img.space-below {
  margin-bottom: 64px;
}

.proj-img.credited {
  margin-bottom: 0px;
}

.proj-icon {
  width: 80px;
  margin-right: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.icon-text-combo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-text-combo.first {
  margin-top: 16px;
}

.intro {
  margin-top: 64px;
  margin-bottom: 64px;
}

.within-section-wrap {
  width: 100%;
  margin-top: 64px;
}

.within-section-wrap.sm-top {
  margin-top: 32px;
}

.mask {
  height: auto;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.44);
}

.left-slide-arrow {
  left: -80px;
}

.img-fill {
  width: 100%;
}

.slider {
  height: auto;
  margin-top: 64px;
  margin-bottom: 64px;
}

.slider-arrow {
  color: #00a790;
  font-size: 32px;
}

.slide-nav {
  font-size: 16px;
}

.right-slide-arrow {
  left: 880px;
}

.proj-section {
  margin-bottom: 64px;
}

.bornbir {
  color: #0f327e;
  font-weight: 700;
}

.center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.icon-text-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 47%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bullet-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mockup-left {
  width: auto;
  height: 75vh;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.colored {
  color: #00a790;
}

.about-landing-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-landing-text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-pagelink-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.nav-current-bar {
  position: absolute;
  left: 0%;
  top: 24px;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 2px;
  border-radius: 20px;
}

.nav-current-bar.w--current {
  background-color: #00a790;
}

.nav-page-link {
  padding: 0px;
  font-size: 16px;
  line-height: 16px;
}

.nav-page-link.w--current {
  padding: 0px;
  color: #00a790;
  font-weight: 500;
}

.paragraph-lg.lg-space {
  line-height: 48px;
  font-weight: 400;
}

.paragraph-lg.lg-space.m-bot {
  margin-bottom: 24px;
}

.about-section-head {
  margin-bottom: 40px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.about-section-body {
  width: 100%;
  margin-bottom: 120px;
}

.copyright {
  height: 20px;
  margin-right: 8px;
}

.figma-embed-container {
  width: 880px;
}

.contact-x {
  width: 24px;
  margin-right: 32px;
  margin-left: 32px;
}

@media screen and (max-width: 991px) {
  .nav-link.w--current {
    margin-left: 0px;
  }

  .nav-container {
    min-width: 650px;
  }

  .nav-menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .landing-section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .display-lg {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 56px;
  }

  .home-hero-wrap {
    width: auto;
    margin-top: 15vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h3 {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .hero-text-wrap {
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
  }

  .bottom-arrow {
    display: none;
    margin-bottom: 8px;
  }

  .projects-section {
    margin-top: 120px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .container {
    min-width: 650px;
  }

  .footer-content {
    width: 70vw;
    min-width: 650px;
  }

  .copyright-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .about-img {
    width: 70%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .about-landing-section {
    height: auto;
    min-width: 650px;
  }

  .h1 {
    font-size: 40px;
    line-height: 56px;
  }

  .h1.proj-section-title {
    margin-bottom: 40px;
  }

  .h2 {
    font-size: 28px;
  }

  .bullet {
    margin-right: 16px;
  }

  .flex.vert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .showcase-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .spotify-screen {
    margin-bottom: 92px;
  }

  .openstax-screen {
    width: 95vw;
    height: auto;
  }

  .home-img {
    width: 70%;
  }

  .mockup-right {
    width: 100%;
    height: auto;
    margin-bottom: 64px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .proj-card-wrap {
    margin-top: 120px;
    margin-bottom: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .proj-text-wrap {
    margin-right: 0px;
  }

  .proj-text-wrap.right {
    margin-left: 0px;
  }

  .case-study-button {
    margin-top: 32px;
  }

  .text-small.grey {
    font-size: 16px;
    line-height: 24px;
  }

  .page-cover.bornbir {
    height: 50vh;
  }

  .proj-tag {
    line-height: 32px;
  }

  .text-lg {
    font-size: 24px;
    line-height: 32px;
  }

  .proj-intro-wrap {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .proj-section-container {
    width: auto;
    max-width: 880px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .content-section-wrap {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .content-section-wrap.top {
    margin-bottom: 120px;
  }

  .proj-icon {
    width: 64px;
  }

  .proj-icon.center {
    margin-right: 0px;
  }

  .left-slide-arrow {
    left: 0px;
  }

  .right-slide-arrow {
    margin-right: 0px;
  }

  .icon-text-card {
    width: 47%;
  }

  .card-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mockup-left {
    width: 100%;
    height: auto;
    margin-bottom: 64px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .about-landing-content {
    margin-top: 15vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-landing-text-wrap {
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .paragraph-lg {
    font-size: 20px;
    line-height: 36px;
  }

  .paragraph-lg.lg-space {
    line-height: 40px;
  }

  .copyright {
    width: 20px;
  }

  .figma-embed-container {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navbar {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav-container {
    width: auto;
    min-width: auto;
    margin-right: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  }

  .home-hero-wrap {
    width: 90vw;
    margin-top: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h3 {
    width: 100%;
    max-width: 90vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .h3.center {
    text-align: center;
  }

  .hero-text-wrap {
    margin-left: 0px;
  }

  .container {
    width: 90vw;
    min-width: 0px;
    padding-top: 12px;
  }

  .footer-content {
    width: 90vw;
    min-width: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text-link {
    margin-left: 0px;
  }

  .footer-links-wrap {
    margin-top: 12px;
  }

  .about-landing-section {
    min-width: auto;
  }

  .h1 {
    font-size: 32px;
  }

  .flex.center.mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .proj-section-wrap {
    width: 90vw;
  }

  .side-hr {
    margin-left: -3vw;
  }

  .text-content.white {
    display: none;
  }

  .overview-subdetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .home-img {
    width: auto;
    height: 50%;
  }

  .proj-text-wrap {
    min-width: auto;
  }

  .x-marker.sm {
    margin-left: 0px;
  }

  .proj-tag {
    font-size: 16px;
  }

  .nav-pagelink-wrap {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
  }

  .nav-current-bar.w--current {
    left: auto;
    top: 40px;
    right: auto;
    width: 20%;
  }

  .nav-page-link {
    margin-right: 0px;
    margin-left: 0px;
    padding: 16px;
  }

  .nav-page-link.w--current {
    margin-right: 0px;
    margin-left: 0px;
    padding: 16px;
  }

  .menu-button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .menu-button.w--open {
    background-color: #fff;
    color: #00a790;
  }
}

@media screen and (max-width: 479px) {
  .display-lg {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
  }

  .container {
    width: 90vw;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .os-screen-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mockup-right {
    margin-bottom: 40px;
  }

  .proj-card-wrap.alt {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .content-section-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .proj-img.native {
    height: auto;
  }

  .icon-text-card {
    width: auto;
    margin-bottom: 40px;
  }

  .card-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mockup-left {
    margin-bottom: 40px;
  }
}

@font-face {
  font-family: 'Value serif';
  src: url('../fonts/value-serif.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Sailec-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Sailec-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Sailec-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}