body {
    font-family: "Poppins"
}

.main {
    height: 76vh;
}

.main-info h1 {
    font-size: 48px;
    font-weight: 700;
}

.main-info span {
    color: #00A5EC;
}

.sub-info p {
    margin: 0;
    font-size: 25px;
    color: #777777;
}
.landing-body {
    margin-top: 10%;
    margin-bottom: 10%;
}
 #waveicon {
     width: 70px;
 }

 #profpic img {
     max-width: 100%;
     border-radius: 50%;
 }